<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>287064957689-8uepi565kqakt2vmce444snn2kivrk47.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287064957689-8uepi565kqakt2vmce444snn2kivrk47</string>
	<key>API_KEY</key>
	<string>AIzaSyCPr1yOjSNrpVwxMTgvbu8QRC8mKmxy7-8</string>
	<key>GCM_SENDER_ID</key>
	<string>287064957689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Hafsa.InspectorApp</string>
	<key>PROJECT_ID</key>
	<string>halal-advocates-inspection</string>
	<key>STORAGE_BUCKET</key>
	<string>halal-advocates-inspection.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>GOOGLE_APP_ID</key>
	<string>1:287064957689:ios:f9b36ea3a5d10306</string>
	<key>DATABASE_URL</key>
	<string>https://halal-advocates-inspection.firebaseio.com</string>
</dict>
</plist>
